---
title: "Free thoughts..."
layout: default.liquid
data:
  route: blog
---
{% assign idx = 0 %}
{% for post in collections.posts.pages %}
  {% if idx < 5 %}
    {% assign post_year = post.published_date | date:"%Y" %}
    {% if post_year > 2023 %}
      <article class="blog-list">
        <div class="left">
          <img src={{post.data.image}} class="corner avi-image"/>
        </div>
        <div class="right">
          <time pubdate="pubdate">{{ post.published_date | date:"%d&nbsp;%b&nbsp;%Y" }}</time>
          <h4><a href="{{ post.permalink }}">{{ post.title }}</a></h4>
          <!-- <p>{{ post.content | strip_html | truncatewords: 11, '...' }}</p>-->
        </div>
      </article>
    {% endif %}
  {% endif %}
{% assign idx = idx | plus: 1 %}
{% endfor %}

Looking for more posts? Check out the <a href="/archive/">archive</a>!
